<div class="" ng-controller="loginController as LC">
  <!-- {{LC}} -->

  <h3>This site will be deployed on  ip: <a href="http://52.41.241.61">52.41.241.61</a></h3>

  <form>
    <div class="field">
      <label for="name">Name: </label>
      <input type="text" name="first_name" ng-model="LC.user.name">
    </div>
    <button ng-click="LC.login()">Login</button>

    <ul>
      <li ng-repeat="error in LC.errors" ng-show="LC.errors.length > 0"><span ng-bind="error"></span></li>
    </ul>
  </form>

</div>
